.scroller{
    width: auto;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
/*    border: 2px solid red;*/
}

.splash-img {
    max-width: 405px;
    max-height: 408px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.full-screen-scroller{
    width: auto;
    height: 100%;
}

.html-container{
    width: auto;
    height: 310px;
}

.home-html-container{
    width: auto;
    height: 2%;
}

.support-html-container{
    width: auto;
    height: auto;
    padding-bottom: 10px;
}

.almost-html-container{
    width: auto;
    height: auto;
}

.discover-html-container{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.watch-html-container {
    height: auto;
    width: 30%;
    margin-top: 2%;
}

.about-html-container {
    height: auto;
    width: 40%;
    margin-right: 2%;
}

.connect-img {
    height: 60px;
    width: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.connect-txt {
    margin-left: 36px;

}
.page-header{
    background-color: #00ddff;
}

.button-holder{
    width: 70%;
    height: 10%;
    margin-left: 14%;
    margin-bottom: 2%;
}

.button-holder_center{
    width: 70%;
    height: 10%;
    margin-left: 15%;
    margin-bottom: 2%;
}

.eula-button-holder{
    width: 70%;
    height: 25%;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 10%;
}

.button-holder-medium{
    width: 70%;
    height: 30%;
    margin-left: 13.5%;
    margin-top: 0px;
}
.grey-btn{
    width: 550px;
    height: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: #B5B7B6;
    font-size: 90%;
}

.padding-grey-btn{
    width: 550px;
    height: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #B5B7B6;
    font-size: 90%;
}


.discover-hrz-container {
    width: 70%;
    height: 18%;
    margin-left: 5%;
    padding-top: 1%;
    margin-right: 5%;
}

.connect-hrz-container {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
}

.connect-vtc-container {
    width: 130px;
    height: auto;
}
.blue-btn{
    width: 550px;
    height: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: #39BCEB;
    font-size: 90%;
    z-index: -1;
}

.large-green-btn{
    width: 80%;
    height: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #40B04A;
    font-size: 90%;
    z-index: -1;
}


.discover-grey-btn{
    width: 550px;
    height: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #B5B7B6;
    font-size: 90%;
}


.green-btn{
    width: 550px;
    height: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-color: #40B04A;
    font-size: 90%;
}

.padding-green-btn{
    width: 550px;
    height: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #40B04A;
    font-size: 90%;
    z-index: -2;
}

.small-btn{
    width: 16%;
    height: 3%;
    background-color: #40B04A;
    font-size: 90%;
    margin-left: auto;
    margin-right: 5%;
}

.grey-button-holder {
    width: 250px;
    height: 80px;
    margin-left: 2%;
    margin-right: 5%;
}
.grey-button-holder-center {
    width: 250px;
    height: 80px;
    margin-left: 35%;
    margin-right: 5%;
	margin-top: 5px;
	padding: 0px;
}

.grey-square-btn{
    width: 200px;
    height: 53px;
    background-color: #B5B7B6;
    font-size: 80%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: none;
    line-height: normal;
}

.grey-square-btn-center{
     width: 200px;
     height: 55px;
     background-color: #B5B7B6;
     font-size: 80%;
     text-align: center;
     display: table-cell;
     vertical-align: middle;
     float: none;
     line-height: normal;
     margin-left: 60%;
     margin-bottom: 5%;
}

.grey-medium-btn{
    width: 23%;
    height: 13%;
    background-color: #B5B7B6;
    font-size: 90%;
    margin-right: 10%;
    margin-top: 2%;
}

.header-img{
    width: 100%;
    height: 13%;
    top: 0%;
}

.footer-img{
    width: 100%;
    height: 13%;
    bottom: 0%;
    position: absolute;
    background: "images/footer.png",
    z-index: -1;
}

.back-btn {
    width: 16%;
    height: 3%;
    z-index: 1;
    bottom: 0%;
    background: no-repeat center center;
    position: absolute;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
}

.reboot-btn {
    width: 10%;
    height: 3%;
    z-index: 1;
    bottom: 0%;
    background: no-repeat center center;
    position: absolute;
    display: block;
    margin-left: 5%;
    margin-right: 10%;
}

.close-btn {
    width: 10%;
    height: 3%;
    z-index: 1;
    bottom: 0%;
    background: no-repeat center center;
    position: absolute;
    display: block;
    margin-right: 5%;
    margin-left: 80%;
}


.appmall-img {
    width: 10%;
    height: 10%;
    z-index: 1;
    margin-left: 10%;
    margin-top: 0%;
    position: absolute;
}

.open-mobile-img{
    max-width: 487px;
    max-height: 126px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt{
    text-align: center;
    margin-top: 10px;
}
.txt-purchase{
    width: 50%;
    text-align: center;
    margin-top: 35px;
	margin-left: 25%;
}

.center-txt{
    text-align: center;
}

.checkbox-txt{
    margin-top: 25px;
    margin-left: 10px;
}

.heading-txt{
    text-align: center;
    font-style: bold;
    font-size: 40px;
}

.heading-txt-eula{
    text-align: center;
    font-style: bold;
    font-size: 25px;
}


.license-checkbox{
    margin-top: 25px;
}

.deactivate-btn{
    width: 550px;
    height: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: #B5B7B6;
    font-size: 90%;
}
.demodiv {
    display: table;
}

.demoimg {
    vertical-align: middle;
    display: table-cell;
    margin-left: 10px;
    margin-right: 5%;
    margin-bottom: 7px;
}
.demospan {
    vertical-align: middle;
    display: table-cell;
}
